<div id="game-view" class="center-block hidden-xs">

	<table v-if="gameInitialized" class="game-table">
		<tr class="line" v-for="line in game.getField()" track-by="$index">
			<td class="box" v-for="box in line" track-by="$index">
				<div class="box-item {{ box.cssClass }}">

				</div>
			</td>
		</tr>
	</table>

	<div v-if="!gameInitialized" id="create-new-game" class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-center">Nová hra</h2>
			</div>
		</div>
	</div>

</div>

<div id="game-xs" class="visible-xs">
	<h2 class="text-center">Hra není funkční na mlých zařízeních</h2>
</div>